src/main/mule/workday-getallworkers.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:workday="http://www.mulesoft.org/schema/mule/workday"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/workday http://www.mulesoft.org/schema/mule/workday/current/mule-workday.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<flow name="workday-getallworkersManualFlow" doc:id="95fb8290-df0c-41bd-99e7-4dd115ffafec" >
		<http:listener doc:name="Listener" doc:id="1fdc8efc-852a-4949-b1f9-ad852c5fe75c" config-ref="HTTP_Listener_config" path="/"/>
		<flow-ref doc:name="Call Get Workers" doc:id="d3717b64-216c-4851-baa2-5f478178f1a2" name="workday-getallworkersFlow"/>
		<set-payload value="Success!" doc:name="Set Payload" doc:id="6e9765f5-d4ee-4648-abcc-5fff670ae332" />
	</flow>
	<flow name="workday-getallworkersFlow" doc:id="13f752cb-3189-4cdd-a04c-b3312eb9008a">
		<set-variable value='${workday.testcase.organizationref}' doc:name="organizationref" doc:id="9e989a03-d873-4de5-b33a-56c6302d4771" variableName="organizationref"/>
		<set-variable value="${workday.testcase.pagesize}" doc:name="pagesize" doc:id="99cace53-93a3-43be-a8e9-ff2aa08704e0" variableName="pagesize"/>
		<ee:transform doc:name="Create Get_Workers Request" doc:id="ab5eec6e-1ee6-4a8b-bc41-a82f730c479a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Workers_Request @(ns0#version: "v30.0"): {
		ns0#Request_Criteria: {
			ns0#Organization_Reference: {
				ns0#ID @(ns0#"type": "Organization_Reference_ID"): vars.organizationref
			}
		},
		ns0#Response_Filter: {
			ns0#Page: 1,
			ns0#Count: vars.pagesize
		},
		ns0#Response_Group: {
			ns0#Include_Reference: 1,
			ns0#Include_Personal_Information: 1
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<workday:human-resources doc:name="Human_Resources:Get_Workers()" doc:id="be309206-4e1f-4c3e-9ffc-763b68766b39" config-ref="Workday_Config" operation="Get_Workers" />
		<ee:transform doc:name="Extract Reponse Data" doc:id="99bf8ce5-eb8c-45b7-a211-12a4eb7dc703">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="totalResults"><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc
output application/java
---
payload.ns0#Get_Workers_Response.ns0#Response_Results.ns0#Total_Results]]></ee:set-variable>
				<ee:set-variable variableName="totalPages"><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc
output application/java
---
payload.ns0#Get_Workers_Response.ns0#Response_Results.ns0#Total_Pages]]></ee:set-variable>
				<ee:set-variable variableName="pageResults"><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc
output application/java
---
payload.ns0#Get_Workers_Response.ns0#Response_Results.ns0#Page_Results]]></ee:set-variable>
				<ee:set-variable variableName="page"><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc
output application/java
---
payload.ns0#Get_Workers_Response.ns0#Response_Results.ns0#Page]]></ee:set-variable>
				<ee:set-variable variableName="workingPage"><![CDATA[%dw 2.0
output application/java
---
1]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="Call Response Iterator" doc:id="fd7ca707-35ca-440f-a53b-d5beebc963ac" name="workday-getallworkersIterationFlow"/>
	</flow>
	<sub-flow name="workday-getallworkersIterationFlow" doc:id="4bb68431-d56b-42d9-a923-2fc7f721f987" >
		<ee:transform doc:name="Transform Message" doc:id="1bc955f3-d57d-4113-b1ce-4a98861faa22">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
var upperLimit = vars.totalPages as Number
output application/json
---
1 to upperLimit]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<parallel-foreach doc:name="Parallel For Each" doc:id="e9408520-3ed0-4417-a5c9-5830d644033e">
			<flow-ref doc:name="Publish to Queue" doc:id="e623741e-588c-4378-938c-073ca4414218" name="workday-getallworkersPublishFlow" />
		</parallel-foreach>
	</sub-flow>
	<flow name="workday-getallworkersPublishFlow" doc:id="65fbc058-d210-40e0-82df-dea8992138ec" >
		<logger level="INFO" doc:name="Logger" doc:id="f8657e9c-7ed8-4fff-abc6-438d7b267f95" message="## PUBLISHING PAGE: #[payload]" />
		<vm:publish doc:name="Publish" doc:id="3f0079a5-a818-41b8-b9ca-8126d876ee75" queueName="@{vmqueue.name}" sendCorrelationId="AUTO" config-ref="VM_Config"/>
	</flow>
	<flow name="workday-getallworkersListenerFlow" doc:id="3d6dcb45-ef23-4393-9459-d4f30f3f8997" >
		<vm:listener queueName="@{vmqueue.name}" doc:name="Listener" doc:id="06b13c47-48e4-441c-ae14-f9eb8b3e30b3" config-ref="VM_Config"/>
		<async doc:name="Async" doc:id="d6ca1e66-3137-4f9d-891a-a67c0ea7faf7" >
			<logger level="INFO" doc:name="Logger" doc:id="42a8ea65-4283-4785-98da-c11a18f5cfab" message="## CONSUMING PAGE: #[payload]" />
			<set-variable value="#[payload]" doc:name="Set Page Number" doc:id="1c5a69e4-cfb5-424d-bc2d-3dac16c832b4" variableName="pageNumber" />
			<ee:transform doc:name="Get_Workers Request" doc:id="b0507ad3-6ced-400e-87b7-eab011498d50">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 urn:com.workday/bsvc
---
{
	ns0#Get_Workers_Request @(ns0#version: "v30.0"): {
		ns0#Response_Filter: {
			ns0#Page: vars.pageNumber,
			ns0#Count: 10
		},
		ns0#Response_Group: {
			ns0#Include_Reference: 1,
			ns0#Include_Personal_Information: 1
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<workday:human-resources operation="Get_Workers" doc:name="Human_Resources:Get_Workers()" doc:id="87dda326-03ff-48cf-8edb-34b3ab4033c4" config-ref="Workday_Config" responseTimeout="${workday.responsetime_seconds}" responseTimeoutUnit="SECONDS">
		</workday:human-resources>
			<ee:transform doc:name="Extract Response Data" doc:id="123ad7c1-9355-45f3-9396-ea9fd31a71d4">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
ns ns0 urn:com.workday/bsvc
output application/java
---
payload.ns0#Get_Workers_Response.ns0#Response_Data.*ns0#Worker map (item, index) -> {
	"Employee_ID": item.ns0#Worker_Reference.*ns0#ID[?($.@ns0#"type"=='Employee_ID')][0],
	"First_Name": item.ns0#Worker_Data.ns0#Personal_Data.ns0#Name_Data.ns0#Legal_Name_Data.ns0#Name_Detail_Data.ns0#First_Name,
	"Last_Name": item.ns0#Worker_Data.ns0#Personal_Data.ns0#Name_Data.ns0#Legal_Name_Data.ns0#Name_Detail_Data.ns0#Last_Name,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<foreach doc:name="For Each" doc:id="7d8e0a4e-0a42-4eb0-97ef-67fafacab7ad">
			<logger level="INFO" doc:name="Logger" doc:id="3578483c-78a7-4de4-a790-b19b44084038" message='#[payload.Employee_ID ++ " / " ++ payload.First_Name ++ " / " ++ payload.Last_Name]' />
		</foreach>
			<logger level="INFO" doc:name="Logger" doc:id="edee83b3-80de-40e3-8a05-e654d2344d1a" message="## DONE PROCESSING PAGE #[vars.pageNumber] ##" />
		</async>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="1b971d27-6b18-4e20-a90b-bb4cbbaf0adc" >
				<logger level="INFO" doc:name="Logger" doc:id="1c9a3f27-482f-4b29-8ff5-48e601dcef5e" message="## ERROR LOADING PAGE: #[vars.pageNumber] : #[error.errorType.asString] ##"/>
			</on-error-continue>
		</error-handler>
	</flow>	
</mule>
